body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: sans-serif, "Times New Roman", serif;
}

ul {
    padding: 0;
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

a, .secondary {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

button {
    background-color: #3882F6;
    padding: 6px 12px;
    max-width: 110px;
    border-radius: 10px;
    color: #F9FAF8;
    font-weight: bold;
}

.button {
    border: none;
    margin-top: 8px;
}

.section {
    padding: 0px 15vw;
}

.section.one {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.main.left {
    max-width: 550px;
    gap: 8px;
}

.head, .main.text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}
.header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main.text {
    font: 900;
    font-size: 48px;
}

.main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.intro {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
    flex-wrap: wrap;
}

.main.image {
    height: 290px;
    width: 460px;
}

.section.two {
    display: flex;
    flex-direction: column;
}

.head.second {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
    padding: 32px 0;
}

.imgbox {
    height: 150px;
    width: 150px;
    border: 3px solid;
    border-color: #3882F6;
    border-radius: 10px;
}

.imgdescription {
    display: flex;
    justify-content: center;
    gap: 120px;
    padding-bottom: 100px;
    flex-wrap: wrap;
    text-align: center;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 150px;
}

.section.three {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 26vw;
}

.inspire {
    font-size: 36px;
    color: #1F2937;
    display: flex;

}

.quoter {
    display: flex;
    justify-content: right;
    width: 760px;
    font-weight: bold;
}

.section.four {
    padding: 80px 1em;
    display: flex;
    justify-content: center;
}

.bluebox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 36px 52px;
    color: #F9FAF8;
    max-width: 50em;
    flex: 1;
    flex-wrap: wrap;
}

.boxtext {
    display: flex;
    flex-direction: column;
}

.boxtitle {
    font-weight: bold;
    font-size: large;
}


button.boxbutton {
    border: 2px solid #F9FAF8;
    min-width: 110px;
}

.footer.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 2em;
}